/*
 * Base */
body {
  background: url('../images/bg.png') repeat;
  margin-top: 40px;
  overflow: hidden;
}
/*
 * Mixins */
.gloss {
  background: rgba(0, 0, 0, 0.19) !important;
}
/*
 * Helpers */
.row {
  width: 600px !important;
  min-width: 400px !important;
}
.button {
  background: #4798FF !important;
  border: none !important;
}
.progress {
  margin: 0 auto;
  display: none;
}
.meter {
  width: 0;
}
@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}
@-ms-keyframes spin {
  from {
    -ms-transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
  }
}
.animate {
  /* webkit chrome, safari, mobile */

  -webkit-animation-name: spin;
  -webkit-animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  /* mozilla ff */

  -moz-animation-name: spin;
  -moz-animation-duration: 3s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  /* microsoft ie */

  -ms-animation-name: spin;
  -ms-animation-duration: 3s;
  /* 3 seconds */

  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;
}
/*
 * Content */
#title {
  left: -240px;
  top: -175px;
  position: relative;
  z-index: -10;
  -webkit-transform: rotate(-76deg);
  -moz-transform: rotate(-76deg);
  -o-transform: rotate(-76deg);
  -ms-transform: rotate(-76deg);
  transform: rotate(-76deg);
}
#title h2 {
  font-size: 55px;
  font-family: 'BPdotsUnicaseLight';
  color: #00395F;
}
#title h2 span {
  height: 680px;
  position: absolute;
  width: 20px;
  left: 0;
  top: 0;
}
.char1 {
  -webkit-transform: rotate(6deg);
  -moz-transform: rotate(6deg);
  -o-transform: rotate(6deg);
  -ms-transform: rotate(6deg);
  transform: rotate(6deg);
}
.char2 {
  -webkit-transform: rotate(12deg);
  -moz-transform: rotate(12deg);
  -o-transform: rotate(12deg);
  -ms-transform: rotate(12deg);
  transform: rotate(12deg);
}
.char3 {
  -webkit-transform: rotate(18deg);
  -moz-transform: rotate(18deg);
  -o-transform: rotate(18deg);
  -ms-transform: rotate(18deg);
  transform: rotate(18deg);
}
.char4 {
  -webkit-transform: rotate(24deg);
  -moz-transform: rotate(24deg);
  -o-transform: rotate(24deg);
  -ms-transform: rotate(24deg);
  transform: rotate(24deg);
}
.char5 {
  -webkit-transform: rotate(30deg);
  -moz-transform: rotate(30deg);
  -o-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  transform: rotate(30deg);
}
.char6 {
  -webkit-transform: rotate(36deg);
  -moz-transform: rotate(36deg);
  -o-transform: rotate(36deg);
  -ms-transform: rotate(36deg);
  transform: rotate(36deg);
}
.char7 {
  -webkit-transform: rotate(42deg);
  -moz-transform: rotate(42deg);
  -o-transform: rotate(42deg);
  -ms-transform: rotate(42deg);
  transform: rotate(42deg);
}
.bubble {
  width: 460px !important;
  height: 460px !important;
}
#drop {
  min-height: 140px;
  text-align: center;
  color: white;
  padding-top: 150px;
  margin: 0 auto;
  background: transparent;
  border: 0;
  -webkit-transition: background-color 0.2s linear;
  -moz-transition: background-color 0.2s linear;
  transition: background-color 0.2s linear;
  border-radius: 50%;
  width: 450px;
  height: 450px;
}
#drop h4 {
  color: white;
  font-family: Consolas, monaco, monospace;
}
#drop p {
  font-size: 12px;
}
#drop .share-url {
  display: none;
  width: 80% !important;
  margin: 0 auto;
}
#circle {
  border-radius: 50%;
  width: 450px;
  height: 450px;
  position: absolute;
  top: 0;
  margin: 0 auto;
  z-index: -1;
  margin-left: -20px;
  background-color: #4798FF;
  background-image: -moz-radial-gradient(45px 45px 45deg, circle cover, #4798ff 0%, #00395f 100%, #0000ff 5%);
  background-image: -webkit-radial-gradient(45px 45px, circle cover, #4798ff, #00395f);
  background-image: radial-gradient(45px 45px 45deg, circle cover, #4798ff 0%, #00395f 100%, #0000ff 5%);
  border: 1px solid #004F7C;
  -webkit-box-shadow: 0px 0px 5px 0px #000000;
  -moz-box-shadow: 0px 0px 5px 0px #000000;
  -o-box-shadow: 0px 0px 5px 0px #000000;
  box-shadow: 0px 0px 5px 0px #000000;
}
footer {
  margin-top: 40px !important;
}
footer ul {
  margin: 0 !important;
  float: right;
}
footer ul a {
  color: #00395F;
}
